body {
	background-color: silver;
}

#menuButton{
	position: fixed;
	left: 0;
	top: 0;
	margin: 1vh 1vw;
}
#closeButton {
	position: absolute;
	right: 0;
	top : 0;
	margin: 1vh 1vw;
	color:white;
	background-color: red;
}

.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

.tabButton {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 1vh 1vw;
	transition: 0.3s;
	border: 1px solid black;
}
.tabButton.active {
	background-color: #ccc;
}
.tabButton.hover {
	background-color: #ddd;
}

.tabContent{
	display: none;
	border: 1px solid #ccc;
	border-top: none;
	animation: fadeEffect 1s;
	overflow: auto;
	max-width: 75vw;
	max-height: 75vh;
}

.tabContent.active {
	display: grid;
	grid-template-columns: 1fr;
}

.tabContent button {
	padding: 1vh 1vw;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.Warning{
	color:yellow;
	background-color: black;
}
.Error{
	color: red;
	background-color: black;
}

.yes {
	color: green;
	float:right;
}
.no {
	color: red;
	float:left;
}

.dragging{
	opacity: 0.7;
	transition: rotate(-2deg);
}

.draggable:hover{
	cursor: move;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.clickable {
	cursor: pointer;
}

.over {
	border: 2px dashed;
}

.directoryEntry::before {
	content : '📁';
}

ul.directory .active {
	background-color: blue;
}

.expander {
	cursor: pointer;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
	background-color: #eee;
	color: #444;
}

.expander:after {
	content: '➕';
}

.expander.active:after {
	content: '➖';
}

.expander:hover {
	background-color: #ccc;
}

.expandable {
	display: none !important;
	overflow: hidden;
}

.expandable.active {
	display: grid !important;
}